.card{
    width: 280px;
    height: 200px;
    background-color: #ffffff;
    margin-top: 3px;
    position: relative;
    z-index: 10;
}
.card-profile{
    display: flex;
    justify-content: center;
    margin-top: 3px;
}
.buttonProfileDropDown{
    cursor: pointer;
}
.buttonDropdown{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.card-container{
    --background: #6F42C1;
    --color: white;
}

.cardGrid{
    --background: #20C997;
    --color: white;
}
.contentCard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.iconGrid{
    display: flex;
    align-items: center;
    font-size: 90px;
    color: #1BAB80;
    overflow: hidden;
}
.linkGrid{
    width: 100%;
    height: 30px;
    background-color: #1DB588;
    color: #ffffff;
}
.container-icon-grid{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 20px;
}
